.infinite-scroller {
  margin: 20px;
  padding: 10px;
  border: 1px solid red;
}

.internal-element {
  margin: 20px;
  padding: 10px;
  border: 1px dashed red;
}

.thing {
  border: 1px solid blue;
  height: 20px;
  margin: 10px;
}

.status {
  border: 1px solid green;
  margin: 10px;
}

.example-1,
.example-3,
.internal-element {
  overflow: auto;
  max-height: 200px;
}
