<div
  class={{
    concat
    "infinite-scroller"
    (if this.isLoading " infinite-scroller--loading")
    (if this.isScrollable " infinite-scroller--scrollable")
  }}
  ...attributes
  {{this.setElement @element}}
>
  {{yield this.api}}
</div>