<div
  {{did-insert (action "didInsertElement")}}
  {{will-destroy (action "willDestroyElement")}}
  class={{concat
    "infinite-scroller"
    (if this.isLoading " infinite-scroller--loading")
    (if this.isScrollable " infinite-scroller--scrollable")}}
  ...attributes>
  {{yield (hash
    error=this.error
    isScrollable=this.isScrollable
    isLoading=this.isLoading
    loadMore=(action "loadMore"))}}
</div>