<p>
  An action is fired when the infinite scroll component is scrolled to 50%
</p>

<InfiniteScroller
  class="example-3"
  @onLoadMore={{this.handleLoadMore}}
  @debounce={{10}}
  @percent={{50}} as |scroller|
>
  {{#each this.things as |thing|}}
    <div class="thing">
      {{thing.name}}
    </div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>