<p>
  An action is fired when a specific element within the infinite scroll component is scrolled
  to the very bottom
</p>

<InfiniteScroller
  class="example-4"
  @onLoadMore={{this.loadMore}}
  @selector=".internal-element" as |scroller|
>
  <div class="unscrollable-element">
    <div class="internal-element">
      {{#each this.things as |thing|}}
        <div class="thing">
          {{thing.name}}
        </div>
      {{/each}}
    </div>
  </div>
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>