<p>Action is fired when the div is scrolled to 50%</p>

{{#infinite-scroller class="example-3" on-load-more=(action 'loadMore') trigger-at='50%' scroll-debounce=15 as |scroller|}}
  {{#each things as |thing|}}
    <div class="thing">{{thing.name}}</div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">Loading...</div>
  {{/if}}
{{/infinite-scroller}}