<p>
  An action is fired when document is scrolled to the very bottom
</p>
<p>
  Note that if there is no scroll movement available (due to lack of enough items to cause overflow),
  you can display a button to manually load more.
</p>

<InfiniteScroller
  class="example-2"
  @onLoadMore={{this.handleLoadMore}}
  @element={{this.document}} as |scroller|
>
  {{#each this.things as |thing|}}
    <div class="thing">
      {{thing.name}}
    </div>
  {{/each}}

  {{#unless scroller.isScrollable}}
    <button type="button" {{on "click" scroller.loadMore}}>
      Load more
    </button>
  {{/unless}}

  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>