<p>Action is fired when the bottom of the document is scrolled to</p>

{{#infinite-scroller
  class="example-2"
  on-load-more=(action "loadMore")
  use-document=true
as |scroller|}}
  {{#each things as |thing|}}
    <div class="thing">{{thing.name}}</div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">Loading...</div>
  {{/if}}
{{/infinite-scroller}}