<p>
  An action is fired when a specific element is scrolled to the very bottom
</p>

<InfiniteScroller
  class="example-4"
  @onLoadMore={{this.handleLoadMore}} as |scroller|
>
  <div class="internal-element" {{did-insert scroller.setElement}}>
    {{#each this.things as |thing|}}
      <div class="thing">
        {{thing.name}}
      </div>
    {{/each}}
  </div>
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>