<p>An action is fired when the infinite scroll component is scrolled to 50%</p>

{{#infinite-scroller
  class="example-3"
  onLoadMore=(action "loadMore")
  bottom="50%"
  scrollDebounce=15
as |scroller|}}
  {{#each things as |thing|}}
    <div class="thing">{{thing.name}}</div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">Loading...</div>
  {{/if}}
{{/infinite-scroller}}