<p>
  An action is fired when a specific element within the infinite scroll component is scrolled
  to the very bottom
</p>

{{#infinite-scroller
  class="example-4"
  onLoadMore=(action "loadMore")
  selector=".internal-element"}}
  <div class="unscrollable-element">
    <div class="internal-element">
      {{#each this.things as |thing|}}
        <div class="thing">{{thing.name}}</div>
      {{/each}}
    </div>
  </div>
{{/infinite-scroller}}