<p>
  An action is fired when infinite scroll component is scrolled to the very top
</p>

<InfiniteScroller
  class="example-1"
  @percentUp={{0}}
  @onLoadMore={{this.handleLoadMore}}
  as |scroller|
>
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
  {{#each this.things as |thing|}}
    <div class="thing" {{this.scrollIntoView}}>
      {{thing.name}}
    </div>
  {{/each}}
</InfiniteScroller>