{{#infinite-scroller class="example-1" on-load-more=(action 'loadMore') as |scroller|}}
  {{#each things as |thing|}}
    <div class="thing">{{thing.name}}</div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">Loading...</div>
  {{/if}}
{{/infinite-scroller}}