<p>
  An action is fired when the bottom of the infinite scroll component becomes visible as the
  document is scrolled.
  <br />
  This will work even if there is other content on the page that is longer
  than the infinite scroll content.
</p>

<InfiniteScroller
  class="example-2"
  @onLoadMore={{this.loadMore}}
  @useDocument={{true}} as |scroller|
>
  {{#each this.things as |thing|}}
    <div class="thing">
      {{thing.name}}
    </div>
  {{/each}}
  {{#if scroller.isLoading}}
    <div class="status">
      Loading...
    </div>
  {{/if}}
</InfiniteScroller>